.sale-item {
    position: absolute;
    color: #fff;
    padding: 7px 20px;
    top: 0;
    left: 0;
    z-index: 2;
}

.sale-item-percent {
    position: absolute;
    color: orange;
    padding: 7px 20px;
    top: 70px;
    left: 0px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 3;
}

.sale-item-percent-details {
    position: absolute;
    color: orange;
    padding: 7px 20px;
    top: 150px;
    left: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 3;
}

.site-blocks-cover {
    background-image: url('/Content/Store/images/hero_1.jpg');
/*    background-size: cover;
*/    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

    .site-blocks-cover, .site-blocks-cover > .container > .row {
        min-height: 400px;
        height: auto;
    }

        .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
            min-height: 400px;
            height: auto;
        }

        .site-blocks-cover h2 {
            font-size: 14px;
            font-weight: normal;
            color: #000;
            letter-spacing: .2em;
            text-transform: uppercase;
        }