@model Sprint33.PharmacyEntities.CustomerOrder

<div class="coupon">
    <div class="row mb-5">
        <div class="col-md-12">

            <h2 class="h3 mb-3 text-black">Coupon Code</h2>

            <div class="p-3 p-lg-5 border">
                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                <div class="input-group w-75">

                    <input type="text" class="form-control" id="c_code"
                           placeholder="Coupon Code" aria-label="Coupon Code"
                           aria-describedby="button-addon2">

                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm px-4"
                                type="button" id="button-addon2"
                                data-orderId="@Model.Id">
                            Apply
                        </button>
                    </div>
                </div>
                <span class="validation text-danger"></span>
            </div>
        </div>
    </div>
</div>