
<ul class="list-group list-unstyled pull-right">
    <li class="livesearchli">
        <input type="text" id="searchtext" class="searchtext form-control-custom"
               onkeyup="myFunction()" placeholder="Search for Products ..."
               title="Type in a product" />
        <ul id="livesearchul" class="list-unstyled">
            @*<li class="livesearchli m-2">
                <a href="#">
                    <img src="~/Files/Images/-colgate.jpg" width="50" height="50" />
                    Cameron Peters
                </a>
                <span class=price>R50</span>
            </li>
            <li class="livesearchli m-2">
                <a href="#">
                    <img src="~/Files/Images/-appliance.png" width="50" height="50" />
                    John Doe
                </a>
                <span class=price>R1299.00</span>
            </li>
        </ul>*@
    </li>
</ul>