
<ul class="list-group list-unstyled pull-right">
    <li class="livesearchli">
        <input type="text" id="searchtext" class="searchtext form-control-custom"
               onkeyup="myFunction()" placeholder="Search for Products ..."
               title="Type in a product" />
        <ul id="livesearchul" class="list-unstyled">
        </ul>
    </li>
</ul>