
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/SharedTemp/_MySharedHome.cshtml";
}

@if (TempData["Status"] != null)
{
    if (TempData["Status"].ToString() == "Approved")
    {
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>
                            <span class="icon-check_circle display-3 text-success fa fa-check-circle fa-5x">
                            </span>
                        </div>
                        <h2 class="display-3 text-black">Thank you!</h2>
                        <p class="lead">
                            You order was successfuly completed.
                            Your order number is <strong>#@Convert.ToInt32(Session["CustomerOrderId"])</strong>
                        </p>
                        <p class="lead font-weight-bold mb-5">NB: Upon delivery, you need confirm delivery by downloading our app from the play store</p>
                        <p>
                            <a href="/store/customerorders/view-order/@Convert.ToInt32(Session["CustomerOrderId"])"
                               class="btn btn-md height-auto px-4 py-3 btn-primary">
                                View Order
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="lead text-danger">
            Payment Status: @TempData["Status"]
        </p>
    }
}