
@{
    ViewBag.Title = "GeneratedSalesOverview";
    Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sales Overview for ###</h1>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
            </div>
        </div>
    </div>

</div>
