
<a href="@ViewBag." class="icons-btn d-inline-block bag">
    <div class="cart-items">
        <span class="fa fa-shopping-basket fa-2x"></span>
        <span class="number">@ViewBag.NumberOfItemsInCart</span>
    </div>
</a>