<!DOCTYPE html>
<html>
<header style="text-align : center"> Dr Naidoo's Surgery </header>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="shortcut icon" href="~/Content/pink-pills-with-white-tablets-blue-background_23-2147827545.jpg" />

    <style>
        body {
            /*background-image: url('../../Content/istockphoto-866772230-612x612.jpg');
            background-size: 1536px 800px;
            background-attachment: fixed;
            background-repeat: no-repeat;
            font-family: Engraved mt;*/
            /*background-image: url('../../Content/istockphoto-866772230-612x612.jpg');*/
            /*background-color: lightblue;*/
            /*background-image: url('../../Content/62225351-tablets-isolated-on-a-white-background-reflection-of-pills-on-a-glass-medicine-s-background-pharmacy.jpg');*/
            /*background-image: url('../../Content/depositphotos_146926385-stock-photo-stethoscope-on-rx-prescription.jpg');*/
            /*background-image: url('../../Content/pink-pills-with-white-tablets-blue-background_23-2147827545.jpg');*/
            /*background-image: url('../../Content/carrots.jpg');*/
            /*background-image: url('../../Content/white_pills_on_blue-marco_verch.jpg');
            height:1000px;
            width:1000px*/
            background-image: url('../../Content/close-up-doctor-front-bright-background_53419-4416.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
    <body>

        @*<div class="navbar navbar-inverse navbar-right">
            <div class="container">
                <div class="navbar-header">*@
        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
        @*@Html.ActionLink("Dr B.N Naidoo Practice", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        @if (Session["UserName"] != null)

        {
            <p style="text-align:right">
                @Html.ActionLink("Logout " + Session["UserName"], "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </p>

        }
        @*</div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>*@
        @*</div>*@

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>2019@Copyright CodeDoctors</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>